h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}

p{
    line-height: 25px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.section1{
    margin: 5vh 5vw;
}

header{
    display: flex;
    flex-direction: row;
}

header img{
    width: 35%;
    height: 3vh;
}

.button1{
    width: 100px;
    height: 30px;
    border: solid 2px hsl(322, 100%, 66%);
    border-radius: 30px;
    text-align: center;
    margin-left: 40%;
}

header a{
    text-decoration: none;
    font-size: 12px;
    color: hsl(322, 100%, 66%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: hsl(192, 100%, 9%);
}

.container1 h1{
    font-size: 30px;
    text-align: center;
}

.container1 p{
    font-weight: 600;
    text-align: center;
}

.button{
    width: 250px;
    height: 5vh;
    padding-top: 12px;
    text-align: center;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: 700;
    text-decoration: none;
    margin-top: 50px;
}

.container1 img{
    margin-top: 100px;
    width: 95%;
    height: 32vh;
}

.container2 img{
    width: 10%;
    height: 10%;
    margin-right: 150px;
}

.container2 h1{
    font-size: 64px;
    margin-bottom: -10px;
    margin-top: -2px;
}

.container2 p{
    font-size: 18px;
    color: rgba(128, 122, 122, 0.788);
    font-weight: 600;
    margin-bottom: 100px;
}


.bgtop-class1{
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -80px;
    height: 15vh;
}

.container3{
    background-color: hsl(207, 100%, 98%);
    padding-bottom: 50px;
    margin-top: -8px;
}

.mockup img{
    margin-top: 100px;
    width: 80%;
}

.mockup h1{
    font-size: 26px;
    font-weight: 900;
    margin-top: 100px;
}

.mockup p{
    width: 85%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: -5px;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgbottom-class1{
    background-image: url(images/bg-section-bottom-mobile-1.svg);
    height: 10vh;
    margin-top: -28px;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container4{
    margin-top: 50px;
}

.bgtop-class2{
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20vh;
    margin-top: 100px;
}

.container5{
    background-color: hsl(207, 100%, 98%);
    margin-top: -56px;
    padding-bottom: 100px;
}

.container5 img{
    margin-top: 50px;
}

.bgbottom-class2{
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -35px;
}

.container6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 250px;
}

.container6 .button{
    margin-top: 0px;
}

.bg-footer{
    background-image: url(images/bg-footer-top-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    margin-top: -52px;
    padding: 5vh 5vw;
    color: white;
}

.input{
    display: flex;
    flex-direction: column;
}

input{
    font-size: 18px;
    height: 6vh;
    width: 340px;
    outline: none;
    border-radius: 8px;
}

footer a{
    height: 5.5vh;
    width: 200px;
    font-size: 18px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 8px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 20px;
}


.logo svg{
    margin-top: 150px;
    width: 30%;
    height: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.row img{
    height: 3vh;
}

.row p{
    margin-left: 25px;
}


.social img{
    margin-top: 25px;
    margin-right: 5px;
    height: 5vh;
}

@media screen and (min-width: 1440px) {

    .section1{
        margin: 5vh 4vw;
    }
    header img{
        height: 5vh;
        width: 20%;
    }

    .button1{
        margin-left: 75%;
    }

    .container h1{
        font-size: 48px;
    }

    .container p{
        font-size: 24px;
        line-height: 30px;
        width: 60%;
    }

    .button{
        height: 8vh;
        width: 400px;
        border-radius: 50px;
        font-size: 20px;
        padding-top: 25px;
        font-weight: 700;
    }
    
    .container1 img{
        height: 98vh;
        width: 1050px;
    }

    .container2{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container2 img{
        height: 6vh;
        width: 50px;
    }

    .data1{
        margin-right: 350px;
    }

    .container2 h1{
        font-size: 102px;
    }

    .bgtop-class1{
        background-image: url(images/bg-section-top-desktop-1.svg);
        background-size: 1440px 120px;
        margin-top: 50px;
    }

    .container3{
        margin-top: 0px;
    }

    .mockup{
        flex-direction: row-reverse;
    }

    .mockup img{
        width: 35%;
        margin-right: 120px;
    }

    .mockup h1{
        margin-right: 270px;
    }

    .mockup p{
        font-size: 18px;
        text-align: left;
        width: 78%;
    }

    .bgbottom-class1{
        background-image: url(images/bg-section-bottom-desktop-1.svg);
        background-size: cover;
        background-position: center right;
        margin-top: 0;
    }
   
    .container4{
        flex-direction: row;
    }

    .container4 img{
        height: 50vh;
        width: 50%;
        margin-left: 100px;
    }

    .container4 h1{
        margin-right: 40px;
    }
    
    .container4 p{
        width: 90%;
    }

    .bgtop-class2{
        background-image: url(images/bg-section-top-desktop-2.svg);
        background-size: cover;
        background-position: left;
        margin-top: 100px;
    }

    .container5{
       margin-top: 0.5px;
    }

    .container5 h1{
        margin-right: 330px;
    }

    .container5 p{
        width: 70%;
    }

    .bgbottom-class2{
        background-image: url(images/bg-section-bottom-desktop-2.svg);
        background-size: cover;
        background-position: center right;
        margin-top: 0;
    }

    .container6{
        margin-top: 100px;
    }

    .container6 h1{
        font-size: 48px;
    }

    .container6 a{
        height: 7vh;
        width: 420px;
    }

    .bg-footer{
        background-image: url(images/bg-footer-top-desktop.svg);
        background-size: cover;
        background-position: left;
    }

    footer{
        margin-top: -2px;
        flex-direction: row-reverse;
    }

    .input{
        display: flex;
        flex-direction: row;
    }

    .input a{
        margin-left: 25px;
        margin-top: 0;
    }

    .text1 p{
        width: 65%;
    }

    .top-section{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 20px;
    }

    .top-section p{
        width: 60%;
    }

    .bottom-section{
        display: flex;
        flex-direction: column;
        margin-top: -100px;
        margin-left: 50px;
    }

} 